@font-face {
  font-family: 'Unibody 8';
  src: url(Unibody8Pro-Regular.otf);
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    font-family: "AnjaliOldLipi";
}

.closed #title{
    font-size: 2.2em;
}

#title {
    position: fixed;
    left: 1em;
    top: .75em;
    font-family: 'Unibody 8', sans;
    font-size: 1.5em;
    font-weight: normal;
    color: white;
}

#map {
    display: flex;
    width: 70vw;
    height: 100vh;
}

.closed #info {
    display: none;
}

#info {
    height: 100vh;
    flex-basis: 30vw;
    background-color: black;
    color: white;
    border-left: darkgray solid 1px;
}

#info .content {
    padding: 0 .5em;
}

.content h2 {
    font-family: 'Unibody 8';
    font-weight: normal;
    text-align: center;
}

svg {
    width: 100%;
    height: 100%;
}

a rect {
    opacity: 0;
    fill: #fff;
}

rect.highlight {
    opacity: .3;
}

svg  a .pointer {
    opacity: .5;
}

svg  a:hover .pointer, svg .highlight ~ .pointer {
    opacity: 0;
}

a:hover rect {
    background-color: white;
    opacity: .3;
    border: none !important;;
    border-width: 5px;
}

.close {
    color: white !important;
    background-color: black;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: .25em 0;
    text-align: center;
}

.close svg {
    height: 1.3em;
    width: 1.3em;
    stroke: white !important;
}

/* field */

.field .name {
    font-weight: bold;
    text-transform: capitalize;
}

.field .name:after {
    content: " : ";
}

.field .uncertainty:before {
    content: " \0000B1  ";
}

.field .uncertainty:after {
    content: " km";
}
